#one, #two, #three, #four
    //display: none



#five
    width: 100%
.five_content
    max-width: 768px
    margin: auto
    .small1
        width: 100vw
        max-width: 768px
        height: 50vw
        max-height: 384px
        background: rgba(255, 0, 0, 0.65)
        .xsmall1
            width: 50vw
            max-width: 384px
            height: 50vw
            max-height: 384px
            text-align: center
            line-height: 50vw
            background: rgba(23, 23, 20, 0.81)
            float: left
            img
                width: 50%
        .xsmall2
            float: right
            width: 50vw
            max-width: 384px
            height: 50vw
            max-height: 384px
            background: rgba(0, 128, 0, 0.76)
            background-size: cover
            background-position: center
    .small2
        width: 100vw
        max-width: 768px
        height: 50vw
        max-height: 384px
        background: rgba(255, 0, 0, 0.57)
    .big
        width: 100vw
        max-width: 768px
        height: 100vw
        max-height: 768px
        //background: blue
        clear: both




            
@media screen and (min-width: $small)
    .five_content
        .small1
            .xsmall1
                line-height: 384px

    
            
            
            
            

        
@media screen and (min-width: $medium)
    .five_content
        width: 100%
        max-width: 1200px
        margin: auto
        .small_wrapper
            width: 50vw
            height: 50vw
            float: right
            
        .small1
            width: 50vw
            height: 25vw
            float: right
            .xsmall1
                width: 25vw
                height: 25vw
                float: left
                line-height: 25vw
            .xsmall2
                width: 25vw
                height: 25vw
                float: right
                
        .small2
            width: 50vw
            height: 25vw
            float: right

        
            
        .big
            clear: none
            width: 50vw
            height: 50vw
            float: left
            
@media screen and (min-width: $large)
    .five_content
        width: 100%
        max-width: 1200px
        margin: auto
        .small_wrapper
            width: 600px
            height: 600px
            
        .small1
            width: 600px
            height: 300px
            .xsmall1
                width: 300px
                height: 300px
                float: left
            .xsmall2
                width: 300px
                height: 300px
                flaot: left

                
        .small2
            width: 600px
            height: 300px

        
            
        .big
            clear: none
            width: 600px
            height: 600px
            float: left
            
            
            
/* Kontaktformular */


.container 
    //max-width: 400px
    width: 100%
    height: 100%
    margin: 0 auto
    position: relative
    padding-top: 10%
    //margin-bottom: 35px


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] 
    //font: 400 12px/16px


#contact
    height: 100%
    //background: #F9F9F9
    padding: 25px
    margin: 0
    //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)


#contact h3 
    display: block
    //font-size: 16px
    font-weight: 300
    margin-bottom: 10px


#contact h4
    margin: 5px 0 15px
    display: block
    font-size: 0.8rem
    font-weight: 400


fieldset 
    border: medium none !important
    margin-left: 0
    min-width: 100%
    padding: 0
    width: 100%


#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea 
    width: 94%
    border: 1px solid #ccc
    background: #FFF
    margin: 0 0 5px
    padding: 10px


#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover 
    -webkit-transition: border-color 0.3s ease-in-out
    -moz-transition: border-color 0.3s ease-in-out
    transition: border-color 0.3s ease-in-out
    border: 1px solid #aaa


#contact textarea 
    height: 100px
    max-width: 100%
    resize: none


#contact button[type="submit"] 
    cursor: pointer
    width: 25%
    border: none
    background: $secondary-color
    color: #FFF
    margin: 0 0 5px
    padding: 10px
    font-size: 1rem
    box-shadow: $boxsh1


#contact button[type="submit"]:hover 
    background: $schmuckfarbe
    -webkit-transition: background 0.3s ease-in-out
    -moz-transition: background 0.3s ease-in-out
    transition: background-color 0.3s ease-in-out


#contact button[type="submit"]:active 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5)



#contact input:focus,
#contact textarea:focus 
    outline: 0
    border: 1px solid #aaa




            
            
        
