#one
    .dates
        width: 100%
        height: 500px
        
        
#one
    width: 100%
    //margin-top: 25px
    
.termin
    width: 100%
    max-width: 1200px
    //border-bottom: 1px solid $secondary-color
    background-color: $primary-color
    margin: auto
    text-align: center
    a
        width: 150px
        height: 50px
        display: inline-block
        text-align: center
    
        
.four_weeks 
    display: none
    background-color: red

.one_day 
    background-color: rgba(255, 0, 0, 0.5)



    
    
.termin
    margin: auto
    height: 150px
    border-bottom: 1px solid $secondary-color
    //padding-bottom: 20px
    //margin-bottom: 10px
    &:last-of-type
        border-bottom: none
    
    h3
        text-align: center
        padding-top: 10px
    p
        text-align: center
        font-family: 'Raleway', sans-serif
        

        
.btn1
    margin: auto
    display: block
    position: relative
    //bottom: 20px
    margin-bottom: 10px
    text-align: center
    color: white
    width: 150px
    //float: none
    font-family: 'Raleway', sans-serif
//.line
    width: 100%
    height: 1px
    background: $secondary-color
        
@media screen and (min-width: $medium)
    .termin
        float: left
        h3
            text-align: left
            width: 200px
            margin-left: 1rem
            margin-top: 40px
        p
            text-align: left
            margin-left: 1rem
    .btn1
        //float: right
        margin-bottom: 40px
        display: inline-block
        position: relative
        bottom: 70px
        
        





    
        
        